* {
	border: none;
	border-radius: 0;
	font-family: Fontawesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
	min-height: 0;
}

window#waybar {
	background: #222;
	color: white;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
	padding: 2px 6px;
	background: transparent;
	color: white;
	border-bottom: 1px solid transparent;
}

#workspaces button.focused {
	background: #444;
}

#workspaces button.urgent {
  background-color: #0072e9;
}

#mode {
	background: #444;
}

#temperature, #clock, #battery, #cpu, #memory, #backlight, #network, #pulseaudio, #custom-spotify, #tray, #mode, #idle_inhibitor {
	padding: 0 5px;
	margin: 0 3px;
}

#temperature, #cpu, #memory, #network {
	font-family: DejaVuSansMono;
}

#temperature.critical {
	color: #e60053;
}

#clock {
}

#battery {
	color: #fff;
}

#battery.charging {
	color: #00D965;
}

@keyframes blink {
	to {
			background-color: #ffffff;
			color: black;
	}
}

#battery.charging {
	color: #00D965;
}
#battery.ok:not(.charging) {
	color: #fff;
}
#battery.warning:not(.charging) {
	color: #ffa100;
}
#battery.critical:not(.charging) {
	color: #e60053;
}

#cpu {
	color: #fff;
}

#network.disconnected {
	background: #f53c3c;
}

#pulseaudio {
	color: #fff;
	border-bottom: 2px solid #e60053;
}

/* #pulseaudio.muted {
	background: #90b1b1;
	color: #2a5c45;
	border-bottom: 2px solid #e60053;
} */

#custom-spotify {
	color: #00D965;
}

#custom-lang {
	padding: 0 3px;
	margin: 0px 1px;
	border-bottom: 2px solid #e60053;
}

#custom-weather-icon {
	font-family: WeatherIcons;
	padding: 0 3px;
	margin: 0 1px;
}

#custom-weather-text {
	padding: 0 3px;
	margin: 0 1px;
}

#custom-packages {
	color: #3581fc;
}

#tray {
	padding-right: 5px;
}

#idle_inhibitor.activated {
	color: #2d3436;
}
